body {
  background-color: #333333;
  margin: 0;
  padding: 0;
}

#data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h2 {
  margin: 10px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.banner {
  width: 100%;
  height: auto;
}

.titulo-pagina{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}


.card {
  display: flex;
  background-color: #333333;
  align-items: flex-start;
  width: 43em;
  border-radius: 8px;
  margin: 10px;
  margin-left: 50px;
  padding: 3px;
  border: 1px solid #39ff14;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
}


.card img.avatar {
  border-radius: 10px;
  max-width: 240px;
  height: auto;
  margin-right: 0;
}


.card aside.bio {
  flex: 1;
  margin-top: 16px;
  margin-right: 10px;
  padding-left: 15px;
  height: 15.2rem;
  border-radius: 10px;
  background-color: #272222;
  color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
}

.titulo-card {
  font-size: larger;
  margin-top: 3px;
  color: #39ff14;
}

.pagination {
  text-align: center;
}

.btn {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.inline-button:hover {
  background-color: #0056b3;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.contadores {
  display: flex;
  text-align: center;
  justify-content: center;
}

.contador-titulo {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  margin-left: 80px;
}

.contador-numero{
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}

.logo {
  width: 50%;
  height: auto;
}

.txt-cima {
  margin-top: 25px;
  margin-bottom: 3px;
  font-weight: bold;
}


.txt-baixo {
  margin-top: 3px;
  margin-bottom: 3px;
}

.status-indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

.status-indicator.alive {
  background-color: #39ff14;
}

.status-indicator.dead {
  background-color: red;
}

.status-indicator.unknown {
  background-color: grey;
}